*.asc
1
5000 5250 # Wavelengths
/home/andrew/LSD/LSDBinary/LSDbinary/input/ # Path to input used by the LSDbinary algorithm
RZCas_primary
RZCas_secondary
table
vrads.init # if orbital elements are to be used (i.e. entry above has value of "orbit"), this entry needs to be replaced with the following 3 (space-separated) entries: (1) eccentricity_value; (ii) K1_value, K2_value, Vgamma_value (omega_value if e/=0); (iii) name of the file containing 3 columns: name of the file with observed spectrum, Julian Date, and orbital phase of that observation (to be placed in the same directory as all LSDbinary input; see entry 4 in this config file)
0.0 0.0 ! Tichonov regularization parameters
0   # R2/R1 (R2/R1 /= 0 if you know for sure) 
n   # swich of eclipse, "E " or "e ". If not, then eclipses are not taken into account
2   # number phases (this entry and those below it will be ignored when "orbit" instead of "table" entry value will be set above)
-0.0100
 0.562730257
